* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
:root {
	--dark: #1c0b19;
	--darkest-blue: #002436;
	--bright-blue: #008398;
	--dark-blue: #324a51;
	--light-blue: #7bb4c3;
	--white: #faf9f6;

	--size-xs: 1.4rem;
	--size-s: 1.6rem;
	--size-m: 2.4rem;
	--size-l: 3.2rem;
	--size-xl: 4rem;
}

/* BODY */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark);
	background-color: var(--white);
	display: flex;
	flex-direction: column;
}

/* UNIVERSAL STYLES */
h1 {
	font-size: var(--size-xl);
}
h2 {
	font-size: var(--size-l);
}
h3 {
	font-size: var(--size-m);
}
h4 {
	font-size: var(--size-s);
}
p,
input,
li,
button,
label,
span {
	font-size: var(--size-xs);
}

/* HEADER */
.header {
	padding: var(--size-m);
	background-color: var(--light-blue);
	width: 100%;
	text-align: center;
}

/* LAYOUT */
.container {
	width: 100vw;
}

/* MAIN GRID CONTAINER */
.grid-container {
	line-height: 3rem;
	margin: 0 var(--size-xl);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 0.5fr;
}
/* MAIN GRID ITEMS */
.today {
	grid-column: 6 / span 6;
	grid-row: 1;
	padding: 1.5rem 3rem;
	background: #7bb4c330;
	margin: 3rem 0;
}
.search {
	grid-column: 1 / span 3;
	grid-row: 1 / span 2;
	padding: 1rem;
	line-height: 3rem;
	margin: 5rem 0 0;
}
.forecast {
	grid-column: 5 / span 8;
	grid-row: 2;
	margin: 1rem 0;
}

/* MAIN GRID ITEM ONE: TODAY Section */ 
		/* JavaScript Generated Elements */
.normal {
	font-weight: normal;
}


/* MAIN GRID ITEM TWO - FORECAST Cards Section */
	/* Grid Container */
.cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2rem;
}
/* Grid Items */ 
		/* JavaScript Generated Elements */
.card-zero {
	grid-column: 1 / span 1;
}
.card-one {
	grid-column: 2 / span 1;
}
.card-two {
	grid-column: 3 / span 1;
}
.card-three {
	grid-column: 4 / span 1;
}
.card-four {
	grid-column: 5 / span 1;
}
.card {
	padding: var(--size-xs);
	background-color: var(--bright-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.card-icon {
	width: 60px;
	height: 60px;
	object-fit: contain;
}
.card-body {
	line-height: 3rem;
	width: 100%;
	letter-spacing: 0.75px;
}
/* .flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} */

/* MAIN GRID ITEM THREE: SEARCH Section */
.text {
	margin: 0 0 1.5rem;
}
	/* SEARCH FORM */
.form {
	display: flex;
	flex-wrap: wrap;
}
input {
	padding: 1rem;
}
#city {
	width: 70%;
}
#country {
	max-width: 30%;
}
#label {
	width: 70%;
}
#search {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
	background-color: var(--bright-blue);
	border: none;
	color: white;
}

	/* STORAGE Section */
.storage {
	margin: 4rem 0;
}
		/* JavaScript Generated Elements */
.btn {
	font-size: var(--size-xs);
	text-transform: uppercase;
	padding: 1rem 0 0.75rem;
	text-align: center;
	margin: 0 0 1.5rem 0;
	background-color: var(--dark-blue);
	color: white;
	width: 100%;
	border: none;
	transition: all 0.5s ease;
}
.btn:hover {
	background-color: var(--darkest-blue);
}