* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
:root {
	--dark: #1c0b19;
	--color-one: #4E8074;
	--color-two: #008398;
--color-three: #00C8A2;
--light-blue: #7BB4C3;
	--color: #cbcbcb;
	--white: #faf9f6;
	--whiter: rgb(235 230 190);

	--size-xs: 1.4rem;
	--size-s: 1.6rem;
	--size-m: 2.4rem;
	--size-l: 3.2rem;
	--size-xl: 4rem;
}
/* #01579b; grid-container  */
/* BODY */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark);
	background-color: var(--white);
	display: flex;
	flex-direction: column;
}
/* UNIVERSAL STYLES */
h1 {
	font-size: var(--size-xl);
}
h2 {
	font-size: var(--size-l);
}
h3 {
	font-size: var(--size-m);
}
h4 {
	font-size: var(--size-s);
}
p,
input,
li,
button,
label {
	font-size: var(--size-xs);
}
.header {
	padding: var(--size-m);
	background-color: var(--light-blue);
	width: 100%;
	text-align: center;
}
.container {
	width: 100vw;
}
/* GRID CONTAINER */
.grid-container {
	margin: 0 var(--size-xl);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 0.5fr;
}
/* GRID ITEMS */
.today { 
	    grid-column: 6 / span 6;
    grid-row: 1;
    padding: 1.5rem 3rem;
    /* box-shadow: 1px 1px 2px 3px #2086623d; */
	    background: #7bb4c30f;
    margin: 3rem 0;
}
.search {
	grid-column: 1 / span 3;
	grid-row: 1 / span 2;
	padding: 1rem;
	line-height: 3rem;
	margin: 5rem 0 0;
	/* background-color: var(--lightBlue); */
}
.forecast {
	grid-column: 5 / span 8;
	grid-row: 2;
	margin: 1rem 0;
}

/* TODAY Section - JavaScript Generated Classes */
.normal {
	font-weight: normal;
}
.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 75% 0 auto;
	line-height: 3rem;
	color: var(--dark);
	letter-spacing: 0.75px;
	font-weight: normal;
}
span {
	font-size: var(--size-s);
}

/* GRID-CONTAINER - Forecast Cards Section */
.cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2rem;
}
/* FORECAST Cards Section - JavaScript Generated Classes */
.card {
	padding: var(--size-xs);
    /* box-shadow: 1px 2px 3px #208662; */
    background-color: #008398;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.card-icon {
	width: 60px;
	height: 60px;
	object-fit: contain;
}
.card-body {
	line-height: 3rem;
	width: 100%;
	letter-spacing: 0.75px;
}
.card-body span {
	font-size: var(--size-xs);
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* SEARCH Section */
.text {
font-size: var(--size-m);
    margin: 0 0 1.5rem;
}
/* Search Form Section */
.form {
	display: flex;
	flex-wrap: wrap;
}
input {
	padding: 1rem;
}
#city {
	width: 70%;
}
#country {
	max-width: 30%;
}
#label {
	width: 70%;
}
#search {
	width: 100%;
	    padding: 1rem;
    margin: 1rem 0;
    background-color: #008398;
      border: none;
    color: white;
}

/* Storage Section */
.storage {
	margin: 4rem 0;
}
/* Storage Section - JavaScript Generated Classes */
.btn {
    font-size: var(--size-xs);
    text-transform: uppercase;
    padding: 0.75rem 0;
    text-align: center;
    margin: 0 0 1.5rem 0;
    background-color: #324A51;
    color: white;
    width: 100%;
    border: none;
}







